.container {
    max-width: 1600px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(to right, #F7FFEC 50%, white 50%);
    z-index: 1;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 260px;
}

.navbar_a {
    display: flex;
    align-items: center;
    gap: 45px;
}

.navbar_a a {
    text-decoration:  none;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    color: grey;
    transition: 0.3s ease;
}

.navbar_a a:hover,
.footer_navbar_a a:hover {
    color: #418A1C;
}

@media(max-width:768px) {
    .navbar_a a:hover {
        color: grey !important;
    }
    .navbar_a a:active {
        color: #51C815 !important;
    }
    .footer_navbar_a a:hover {
        color: #000A01 !important;
    }
    .footer_navbar_a a:active {
        color: #51C815 !important;
    }
    .inst-circle svg:hover,
.facebook-circle svg:hover,
.twitter-circle svg:hover,
.youtube-circle svg:hover {
    transform: unset !important;
}
}

.navbar_a button {
    width: 153px;
    height: 63px;
    border: none;
    background-color: #081800;
    color: white;
    box-shadow: 8px 8px 0px 0px #51C815;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
}

.img2 {
    position: absolute;
    top: 0;
    z-index: -1;
    max-width: 50%;
    height: auto;
}

.header_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hdr-block-text {
    /* left: 620px;
    position: relative; */
    justify-items: right;
    gap: 0px;
    width: 100% !important;
    padding-right: 260px;
    display: grid;
}

@media(max-width:1300px) {
    .hdr-block-text h1 {
        font-size: 45px !important;
    }
    .navbar {
        padding: 40px 100px;
    }
    .hdr-block-text {
        padding-right: 100px;
    }
    .footer_navbar {
        padding: 100px 20px !important;
    }
}

@media(max-width:1230px) {
    .bg-of-img2 img,
    .bg-of-img1 img,
    .bg-of-img3 img,
    .bg-of-img4 img,
    .bg-of-img6 img {
        height: auto !important; 
        display: block;
        width: 100%;
    }
    .bg-of-img2,
    .bg-of-img1,
    .bg-of-img3,
    .bg-of-img4,
    .bg-of-img6 {
        width: auto !important;
    }
    .main-div2 {
        justify-items: right;
        text-align: right;
    }
    .main-div1 h1,
    .main-div2 p,
    .main-div5 h1,
    .main-div6 p,
    .main-div7 h1,
    .main-div7 p,
    .main-div8 p {
        width: auto !important;
    }
    .main-div1 h1,
    .main-div4 h1,
    .main-div5 h1,
    .main-div8 h1 {
        font-size: 40px !important;
    }
    .main-div5 h1 {
        top: -50px !important;
    }
    .bg-of-img4 {
        top: 0 !important;
        position: unset !important;
    }
    .main-div4 h1 {
        top: 0 !important;
        position: unset !important;
    }
    .parent-container {
        padding: 0px 10px;
    }
    .parent-container2 {
        width: 100% !important;
        padding: 10px;
    }
    .bg-of-img6 {
        justify-self: end;
    }
    .main-div6 p {
        text-align: right;
        width: fit-content !important;
    }
    .check-mark-parent p {
        width: auto !important;
    }
    .main-div4 {
        align-self: flex-end !important;
        gap: 50px !important;
        display: grid;
        text-align: center;
    }
    .main-div4 h1 {
        width: fit-content !important;
    }
    .last-prnt {
        display: grid !important;
    }
    .main-div8 {
        order: -1;
    }
    .main-div7 {
        display: flex !important;
    }
    .p-display-1 {
        display: none !important;
    }
    .p-display-2 {
        display: flex !important;
        width: fit-content;
        font-size: 24px !important;
        text-align: center !important;
        margin: 0 auto;
    }
    .greatest-plants {
        width: 100% !important;
        text-align: center;
    }
    .bg-of-img7 {
        max-width: 100% !important;
    }
    .img11 {
        width: 270px !important;
    }
    .main-div8 {
        gap: 50px !important;
    }
    .last-order-btn {
        width: 50% !important;
        margin: 0 auto;
    }
}

@media(max-width:930px) {
    .bg-of-img10 {
        display: grid !important;
        max-height: fit-content !important;
        justify-items: center !important;
        text-align: center !important;
    }
    .bg-of-img7-text span {
        justify-self: center !important;
    }
    .main-div7 {
        justify-content: center;
    }
}

.p-display-2 {
    display: none;
}

@media(max-width:1090px) {
     .img2 {
        height: 620px;
        width: auto;
    }
    .hdr-block-text h1 {
        font-size: 40px !important;
    }
    .number1 span,
    .number2 span {
        font-size: 35px !important;
    }
    .footer_navbar {
        max-height: fit-content !important;
        padding: 40px 20px !important;
    }
    .footer_navbar_a {
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        gap: 40px !important;
        justify-items: center !important;
    }
    .FOLLOW-title {
        grid-column: 1/3 !important;
        display: grid !important;
        justify-items: center;
    }
    .POLICY-LIBRARY-title a,b,
    .about-title a,b {
        margin: 0 auto;
    }
}

@media(max-width:570px) {
    .footer_navbar {
        display: grid !important;
        justify-content: center !important;
        justify-items: center;
        gap: 40px;
    }
}

@media(max-width:1024px) {
    .img2 {
        position: unset;
        opacity: 0;
    }
    header {
        background: none;
        background-image: url(./imgs/img2.png);
        background-repeat: no-repeat;
        background-position: center -0px;
    }
    .hdr-block-text {
        justify-items: center;
        padding-right: 0 !important;
    }
    .hdr-block-text h1 {
        text-align: center !important;
        width: 100% !important;
    }
    .header_block {
        justify-content: unset;
    }
    .hdr-block-text2 {
        width: 100%;
        justify-content: center;
        display: grid;
    }
    .hdr-block-text2 p {
        max-width: 100% !important;
        text-align: center;
    }
    .hdr-block-text2 button {
        width: 50% !important;
        margin: 0 auto;
    }
    .numbers-parent {
        margin: 0 auto !important;
        gap: 150px !important;
    }
    .number1, .number2 {
        width: fit-content !important;
        text-align: center;
    }
    .main-div6 p {
        text-align: center !important;
    }
}

@media(max-width:740px) {
    .navbar {
        padding: 40px 50px;
    }
    header {
        background-size: 600px;
    }
    .header_block {
        justify-content: unset !important;
    }
    .bg-of-img7 img {
        width: 100% !important;
        height: auto !important;
        display: block;
    }
    .bg-of-img7 {
        padding: 30px 0px !important;
    }
}

@media(max-width:640px) {
    .navbar_a a {
        display: none;
    }
    .svg2 {
        display: flex !important;
    }
    .parent-container,
    .parent-container2 {
        display: grid !important;
    }
    .main-div1 h1,
    .main-div2 p,
    .main-div3 p {
        text-align: center;
    }
    .bg-of-img2,
    .bg-of-img3,
    .bg-of-img4,
    .bg-of-img5 {
        max-width: 100% !important;
    }
    .bg-of-img6,
    .bg-of-img2 {
        width: 100% !important;
        margin: 0 auto;
    }
    .bg-of-img2 img,
    .bg-of-img3 img,
    .bg-of-img4 img,
    .bg-of-img5 img,
    .bg-of-img6 img {
        width: auto;
    }
    .bg-of-img3 {
        height: 500px !important;
    }
    .main-div2 button {
        width: 30% !important;
        margin: 0 auto;
    }
    .navbar_a button {
        width: 130px;
    }
    header {
        background-size: 550px;
    }
    .numbers-parent {
        gap: 50px !important;
    }
    .parent-container2 {
        padding: 0px 10px !important;
    }
    .main-div4 h1 {
        width: 100% !important;
    }
    .main-div3 {
        gap: 50px !important;
        display: grid;
    }
    .main-div5 h1 {
        text-align: center;
        top: 0 !important;
    }
    .main-div7 {
        display: grid !important;
        max-width: 100% !important;
    }
    .bg-of-img7 {
        display: grid !important;
        max-height: fit-content !important;
        justify-content: center !important;
        text-align: center;
    }
    .bg-of-img10 {
        justify-content: center !important;
    }
    .main-div8 p {
        margin: 0 auto;
    }
}

@media (max-width:400px) {
    .navbar {
        padding: 40px 20px;
    }
    .bg-of-img1 img,
    .bg-of-img2 img {
        max-width: 300px !important;
        max-height: auto !important;
    }
}

@media(max-width:425px) {
    .bg-of-img3 img,
    .bg-of-img4 img {
        max-width: 300px !important;
        max-height: auto !important;
    }
    .bg-of-img7 img,
    .bg-of-img10 img {
        max-width: fit-content;
        justify-self: center;
    }
    .footer_navbar {
        padding: 0 !important;
    }
    .footer_navbar_a a {
        font-size: 14px !important;
    }
}

@media(max-width:380px) {
    .bg-of-img7 img,
    .bg-of-img10 img {
        max-width: 100px !important;
    }
    .bg-of-img7 h1,
    .bg-of-img10 h1 {
        font-size: 24px !important;
    }
    .bg-of-img7 p,
    .bg-of-img10 p {
        font-size: 14px !important;
    }
    .p-display-2 {
        font-size: 18px !important;
    }
    .greatest-plants {
        font-size: 30px !important;
    }
}

@media (max-width:340px) {
    .bg-of-img5 img {
        max-width: 150px !important;
    }
    .bg-of-img6 img {
        max-width: 200px !important;
    }
    .inst-circle, .facebook-circle, .twitter-circle, .youtube-circle {
        width: 37px !important;
        height: 37px !important;
    }
    .inst-circle svg,
    .facebook-circle svg,
    .twitter-circle svg,
    .youtube-circle svg {
        width: 18px !important;
        height: 18px !important;
    }
}

@media(max-width:460px) {
    .bg-of-img5 img {
        max-width: 250px !important;
    }
    .bg-of-img6 img {
        max-width: 300px !important;
    }
}

.sidebar-cont {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    padding-top: 20px;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}

.sidebar-cont a {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: 'ExtraBold';
    font-size: 39px;
    line-height: 153%;
    letter-spacing: 0%;
    color: black;
    text-decoration: none;
}

.svg1 {
    position: absolute;
    top: 68px;
    right: 58px;
}

.svg2 {
    display: none;
}

.hdr-block-text h1 {
    width: 570px;
    text-align: end;
    font-family: 'Raleway';
    font-weight: 800;
    font-style: 'ExtraBold';
    font-size: 57px;
    line-height: 130%;
    letter-spacing: 0%;
    color: black;
}

.hdr-block-text2 p {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: gray;
    max-width: 470px;
    width: auto;
}

.hdr-block-text2 button {
    width: 153px;
    height: 63px;
    border: none;
    box-shadow: 8px 8px 0px 0px #51C815;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    color: white;
    background-color: #081800;
    margin-bottom: 50px;
}

.numbers-parent {
    display: flex;
    align-items: center;
    width: fit-content !important;
    gap: 10px;
}

.number1, .number2 {
    display: grid;
    align-items: center;
    width: 200px;
}

.number1 span,
.number2 span {
    color: #418A1C;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 43px;
    line-height: 140%;
    letter-spacing: 0%;
}

main {
    display: grid;
    gap: 150px;
    margin: 200px auto 0px auto;
}

.parent-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    gap: 100px;
}

.bg-of-img1 {
    max-width: 584px;
    max-height: 380px;
    background-color: #F7FFEC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-of-img2 {
    max-width: 436px;
    max-height: 383px;
    background-color: #F7FFEC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div1 h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: 'ExtraBold';
    font-size: 57px;
    line-height: 140%;
    letter-spacing: 0%;
    color: black;
    width: 450px;
}

.main-div2 {
    display: grid;
}

.main-div2 p  {
    width: 360px;
    font-size: 18px;
    color: rgb(124, 124, 124);
}

.main-div2 button {
    width: 153px;
    height: 63px;
    background-color: #081800;
    border: none;
    color: white;
    box-shadow: 8px 8px 0px 0px #51C815;   
}

.main-div3 {
    width: fit-content;
}

.bg-of-img3 {
    background-color: #F7FFEC;
    max-width: 492px;
    max-height: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark {
    width: 40px;
    height: 40px;
    background-color: #418A1C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark-parent {
    display: flex;
    gap: 30px;
    align-items: center;
}

.check-mark-parent p {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: rgb(124, 124, 124);
    width: 370px;
}

.parent-container2 {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    gap: 100px;
}

.bg-of-img4 {
    max-width: 528px;
    max-height: 437px;
    background-color: #F7FFEC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -60px;
}

.main-div4 h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: 'ExtraBold';
    font-size: 57px;
    line-height: 140%;
    letter-spacing: 0%;
    color: black;
    width: 400px;
    position: relative;
    top: -60px;
}

.bg-of-img5 {
    background-color: #F7FFEC;
    max-width: 499px;
    max-height: 442px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div5 {
    display: grid;
}

.main-div5 h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: 'ExtraBold';
    font-size: 57px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #081800;
    width: 320px;
    position: relative;
    top: -70px;
}

.img-7-8-parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
}

.circle1 {
    width: 126px;
    height: 126px;
    background-color: rgba(255, 255, 255, 0.307);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    transition: 0.3s ease;
}

.circle1:active {
    transform: scale(0.95);
}

.circle2 {
    width: 106px;
    height: 106px;
    background-color: rgba(255, 255, 255, 0.622);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle3 {
    width: 68px;
    height: 68px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle3 svg {
    transform: rotate(180deg);
}

.bg-of-img6 {
    max-width: 528px;
    max-height: 543px;
    background-color: #F7FFEC;
}

.main-div6 {
    display: grid;
    gap: 70px;
}

.main-div6 p {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #081800;
    width: 470px;
}

.bg-of-img10 {
    max-width: 527px;
    max-height: 215px;
    background-color: #F7FFEC;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.bg-of-img7 {
    max-width: 527px;
    max-height: 215px;
    background-color: #F7FFEC;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
}

.last-prnt {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    gap: 100px;
}

.bg-of-img7-text {
    display: grid;
    align-items: center;
}

.bg-of-img7-text p {
    max-width: 290px !important;
}

.bg-of-img7-text span {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #418A1C;
    display: flex;
    align-items: center;
}

.bg-of-img7-text h1 {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #081800;
}

.zero {
    font-size: 18px !important;
} 

.main-div7 {
    display: grid;
    gap: 25px;
}

.main-div7 p {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #101C02;
    width: 420px;
}

.main-div8 h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: 'ExtraBold';
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0%;
    width: 370px;
    color: #081800;    
}

.greatest-plants {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: 'ExtraBold';
    font-size: 57px !important;
    line-height: 140%;
    letter-spacing: 0%;
    color: #000A01;
}

.last-order-btn {
    width: 153px;
    height: 63px;
    border: none;
    box-shadow: 8px 8px 0px 0px #51C815;
    background-color: #081800;
    color: white;
}

.main-div8 {
    display: grid;
}

.footer_navbar {
    max-height: 369px;
    background-color: #F7FFEC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 120px;
    background-image: url(./imgs/img13.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.footer_navbar_a {
    display: flex;
    gap: 150px;
}

.footer_navbar_a a {
    text-decoration: none;
    color: #000A01;
    font-family: 'Raleway';
    font-style: Medium;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.about-title {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.POLICY-LIBRARY-title {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.FOLLOW-title {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-imgs-parent {
    display: flex;
    align-items: center;
    gap: 30px;
}

.inst-circle, .facebook-circle, .twitter-circle, .youtube-circle {
    width: 47px;
    height: 47px;
    background-color: #000A01;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inst-circle svg,
.facebook-circle svg,
.twitter-circle svg,
.youtube-circle svg {
    transition: 0.3s ease;
}

.inst-circle svg:hover,
.facebook-circle svg:hover,
.twitter-circle svg:hover,
.youtube-circle svg:hover {
    transition: 0.3s ease;
    transform: scale(1.15);
}

.inst-circle svg:active,
.facebook-circle svg:active,
.twitter-circle svg:active,
.youtube-circle svg:active {
    transition: 0.3s ease;
    transform: scale(0.90) !important;
}

footer {
    margin-top: 170px;
}

